body
{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.todolist-container
{
    align-items: center;
    text-align: center;
    margin: auto;
margin-top: 10%;

width: 50vw;
height: 70vh;
}

.main-container
{
    display: flex;
    justify-content: center;
    align-items: center;

}